* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* Impede o scroll */
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.left-side {
  position: relative;
  width: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  overflow: hidden;
}

.login-box {
  width: 70%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 3;
}

.logo {
  width: 40px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: #0A1F44;
}

.subtitle {
  margin-bottom: 10px;
  color: #444;
}

.input-wrapper {
  padding: 3px;
  background: linear-gradient(90deg, #1E3A70, #2F6FE4);
  border-radius: 10px;
}

.input-wrapper .input {
  width: 100%;
  padding: 13px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: white;
  display: block;
}

.input {
  padding: 15px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #a4d4ff;
  outline: none;
}

.login-btn {
  padding: 15px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(90deg, #1E3A70, #2F6FE4);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* Onda azul inferior esquerda */
.wave-svg {
  position: absolute;
  bottom: 0;
  right: 0; /* A wave começa no canto esquerdo */
  width: 150%; /* A wave agora vai ultrapassar 100% da tela, indo para a direita */
  height: 210px;
  transform: translateY(20px); /* Levanta um pouco a wave */
  z-index: 5;
  overflow: hidden;
}

.wave-svg svg {
  width: 100%;
  height: 100%;
  display: block;
}

.right-side {
  width: 50%;
  background: linear-gradient(to bottom right, #1e3ad1, #2fb1f2);
  position: relative;
  overflow: hidden;
  display: flex; /* Adiciona flexbox para alinhar o conteúdo */
  justify-content: flex-start; /* Alinha o conteúdo à esquerda */
  align-items: flex-end; /* Alinha o conteúdo na parte inferior */
}

.curved-line-svg {
  position: absolute;
  bottom: 0; /* Posiciona a linha curva na parte inferior */
  left: 0; /* Certifique-se que a linha começa no canto esquerdo */
  width: 100%;
  height: 100px; /* Altura ajustada */
  z-index: 6; /* Faz a linha ficar por cima da wave */
  pointer-events: none; /* Garante que a linha não bloqueie cliques */
}
